*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
   background-color: #012a4a;
   color: #d9ed92;
   height: 5rem;
   line-height: 5rem;
}
div.choice{
    height:165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
div.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
.choice:hover{
    background-color: #faa307;
    cursor: pointer;
}

div.score-board{
    margin-top:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
    font-size: 2rem ;
    font-weight: bolder;
   color: black;
   height: 5rem;
  
}
#user-score , #comp-score{
    font-size: 3rem ;
    font-weight: bolder;
}

div.msg-container{
    margin-top: 2rem;
    

}
#msg{
    font-size: 2rem ;
    font-weight: bolder;
    line-height: 5rem;
    background-color: #012a4a;
    color: #d9ed92;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
    
}